body {
  color: rgb(179, 176, 214);
  background: rgb(41, 40, 59);
}
pre {
  line-height: 1.8;
  white-space: pre-wrap;
  word-break: break-all;
}
dialog {
  input {
    padding: 10px;
  }
  color: white;
}
